$qem : 0.25em;

body {
    margin: 0em;
    padding: 0em;
}

#canvas {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../utils/weather.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#navbar {

    height: 8vh;
    display: flex;
    align-items: center;
    column-gap: $qem*2.5;
    background-image: linear-gradient(rgb(71, 73, 71), rgb(68, 73, 69));
    padding: $qem 1.5em;
    filter: opacity(0.8);
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.5);
    position: sticky;
    top:0;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    #navlogo {
        height: 2.5em;
        margin-right: auto;
        border-radius: $qem*2;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.5);
        mix-blend-mode: plus-lighter;
    }

    #navlogo:hover {
        filter: brightness(1);
        transform: scale(1.1);
    }

    #placeName {
        border: none;
        padding: $qem*2 $qem * 4;
        border-radius: $qem*2.5;
        background-color: rgb(44, 42, 42);
        color: rgb(255, 255, 255);
        min-width: 13vw;
        transition: all 0.3s;
        box-shadow: 0 2px 2px 0 rgba(3, 3, 3, 0.5);
        outline: none;
        margin-left: auto;
    }

    #placeName:hover {
        background-color: rgb(26, 25, 25);
        transform: scale(1.05);
    }

    #btn {
        height: 2em;
        width: 2em;
        mix-blend-mode: darken;
        padding: 0.3em 0em 0em;
        transition: all 0.3s; 
        border-radius: $qem*2.5; 
        filter: brightness(1);
    }

    #btn:hover {
        cursor: pointer;
        transform: scale(1.20);
    }
}

#welcome{
    //border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh 5vw 0vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    h1,h2{
        margin: $qem;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(238, 72, 72, 0.873); 
    }
    h1{
        font-size: 50px;
        color : rgb(244, 226, 212);
    }
    h2{
        font-size: 35px;
        color:rgb(255, 149, 2)
    }

}


#tempInfo {
    margin: 6em 1em 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    background-image: linear-gradient(rgba(49, 79, 112, 0.877), lightslategray);
    min-width: 35vw;
    border-radius: $qem;
    opacity: 0.8;
    box-shadow: 4px 4px 10px 1px rgb(35, 35, 35);

    #temp {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
        height: 20vh;

        #logo {
            height: 4.5em;
            border-radius: $qem*2;
            cursor: pointer;
            filter: opacity(0.8);
            mix-blend-mode: plus-lighter;
        }

        #logo:hover {
            filter: brightness(1.5);
        }

        h1 {
            font-size: 6em;
            margin: 0em;
            color: rgb(255, 195, 195);
            sup {
                font-size: large;
            }
        }
    }
    h2 {
        margin: 0em 0em $qem;
        color: rgba(255, 255, 255, 0.897);
    }
    p {
        font-weight: bold;
        font-size: 1em;
        margin: 0em 0em 0em;
    }

}

#sub-info{
    // border:1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(155, 118, 59), rgb(108, 107, 73));
    filter: opacity(0.80);
    margin:7.5em 1em 3em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 10px 1px rgb(35, 35, 35);

    #sub-info-1,
    #sub-info-2,
    #sub-info-3,
    #sub-info-4,
    #sub-info-5,
    #sub-info-6,
    #sub-info-7 {
        //border: 1px solid black;
        text-wrap: wrap;
        height: 10em;
        min-width:10em;
        margin:2em;
        color:rgb(0, 0, 0);
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 1px;
        color: cornsilk;
        box-shadow: 2px 2px 4px 0px rgb(35, 35, 35);
        h1,h4{
            margin:0em;
            
        }
        h1{
            font-size: 2.8em;
            sup{
                font-size: medium;
                font-weight: bolder;
            }
        }
        
    }:not(h1):not(h2):not(h3):not(h4):not(sup):hover{
        transform: scale(1.1);
        border-radius: 1em;
        box-shadow: 4px 4px 15px 1px rgb(35, 35, 35);
        transition: all 0.3s;
        background-image: linear-gradient(rgba(49, 79, 112, 0.877), lightslategray);
        //cursor: pointer;
    }


}

@media (max-width:484px){
    #container{
        #sub-info{
            #sub-info-1,
            #sub-info-2,
            #sub-info-3,
            #sub-info-4,
            #sub-info-5,
            #sub-info-6,
            #sub-info-7{
                height: 10em;
                width: 23em;
            }
        }
    }
}

@media (min-width:1100px){
    #container{
        display: flex;
        #tempInfo {
            display : flex;
            flex-direction: column;
            justify-content: center;
            margin: 6em 1em 2em;
        }
    }

}

